@{
    ViewData["Title"] = "Data input";
}
<div>
    <h2>Форма ввода</h2>
    <form method="post">
        Data: <input name="data" type="text"/><br>
        <input type="submit">
        <div>
            <select name="region">
            <option>RU</option>
            <option>EU</option>
            <option>USA</option>
        </select>
        </div>
    </form>
</div>